<div class="container">
    <form 
    class="well form-horizontal"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onUpdate(f)">
        <div style="float: right;"><a (click)="closeDialog()" style="padding: 0;"><i class="fa fa-times" aria-hidden="true" style="font-size: 25px; padding: 0; outline: none;"></i></a></div>
        <fieldset>
    
            <legend><h2><b>My Profile</b></h2></legend><br>

            <h4 style="color: red; margin-bottom: 20px;">{{ errorMessage }}</h4>
    
            <div class="form-group">
                <label class="col-md-3 control-label">Username</label>  
                <div class="col-md-9 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input 
                        name="name" 
                        placeholder="Username" 
                        class="form-control" 
                        type="text"
                        #name="ngModel"
                        [ngModel]="resultData?.data?.name"
                        (ngModelChange)="resultData.data.name=$event"
                        [ngClass]="{'is-invalid': f.submitted && name.invalid}"
                        required
                        minlength="3">
                    </div>
                </div>
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">
                        *This field is mandatory.*
                    </div>
                    <div *ngIf="name.errors.minlength">
                        *Enter at least 3 characters.*
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label">E-Mail</label>  
                <div class="col-md-9 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input 
                        name="email" 
                        placeholder="E-Mail Address" 
                        class="form-control"
                        type="text"
                        #email="ngModel"
                        [ngModel]="resultData?.data?.email"
                        (ngModelChange)="resultData.data.email=$event"
                        [ngClass]="{'is-invalid': f.submitted && email.invalid}"
                        required email readonly>
                    </div>
                </div>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">
                        *This field is mandatory.*
                    </div>
                    <div *ngIf="email.errors.email">
                        *Enter valid email-address.* 
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label" >Old Password</label> 
                <div class="col-md-9 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input
                        name="oldPassword" 
                        placeholder="Old Password"
                        class="form-control"
                        [type]="showPassword ? 'text' : 'password'"
                        #oldPassword="ngModel"
                        value=""
                        ngModel
                        [ngClass]="{'is-invalid': f.submitted && oldPassword.invalid}"
                        required
                        minlength="6">
                    </div>
                </div>
                <div *ngIf="f.submitted && oldPassword.invalid" class="invalid-feedback">
                    <div *ngIf="oldPassword.errors.required">
                        *This field is mandatory.*
                    </div>
                    <div *ngIf="oldPassword.errors.minlength">
                        *Enter atleast 6 characters.*
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" >New Password</label> 
                <div class="col-md-9 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input
                        name="newPassword" 
                        placeholder="New Password"
                        class="form-control"
                        [type]="showPassword ? 'text' : 'password'"
                        #newPassword="ngModel"
                        value=""
                        ngModel
                        [ngClass]="{'is-invalid': f.submitted && newPassword.invalid}"
                        required
                        minlength="6">
                    </div>
                    <input 
                    type="checkbox" 
                    id="togglePassword" 
                    style="float: left; margin-right: 3px;"
                    (click)="show_Password()">
                    <label for="togglePassword" style="float: left;"><small>Show Password</small></label> 
                </div>
                <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                    <div *ngIf="newPassword.errors.required">
                        *This field is mandatory.*
                    </div>
                    <div *ngIf="newPassword.errors.minlength">
                        *Enter atleast 6 characters.*
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4"><br>
                    <button 
                    type="submit" 
                    class="btn btn-primary"
                    matTooltip="Update Profile"
                    matTooltipClass="tooltip-color">Update <span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <div class="col-md-4"><br>
                    <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="openDeleteConfirmDialog()"
                    matTooltip="Delete Profile"
                    matTooltipClass="tooltip-color">Delete <span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
            
        </fieldset>
    </form>
</div>

