<div class="container">
    <form 
    class="well form-horizontal"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onUpdate(f)">
        <div style="float: right;"><a (click)="closeDialog()" style="padding: 0;"><i class="fa fa-times" aria-hidden="true" style="font-size: 26px; padding: 0; outline: none;"></i></a></div>
        <fieldset>
            <legend style="margin-bottom: 10px;"><h2><b>Update Your Task</b></h2></legend><br>
            <mat-form-field class="form-field">
                <input 
                matInput 
                name="taskName"
                #taskName="ngModel"
                placeholder="Task Name"
                [(ngModel)]="selected_task.taskName"
                [ngClass]="{'is-invalid': f.submitted && taskName.invalid}"
                required>
            </mat-form-field>
            <div *ngIf="f.submitted && taskName.invalid" class="invalid-feedback">
                <div *ngIf="taskName.errors.required">
                    *This field is mandatory.*
                </div>
            </div>
            <br>
    
            <mat-form-field class="form-field">
                <mat-label>Priority</mat-label>
                <mat-select 
                name="priority" 
                #priority="ngModel" 
                [(ngModel)]="selected_task.priority">
                    <mat-option value="Very Important" style="color: red; opacity: .9;"><b>Very Important</b></mat-option>
                    <mat-option value="Important" style="color: green; opacity: .9;"><b>Important</b></mat-option>
                    <mat-option value="Not Important" style="color: blue; opacity: .9;"><b>Not Important</b></mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="inputTime">
                <input 
                matInput 
                type="number"
                name="completionTime"
                placeholder="Completion Time"
                #completionTime="ngModel" 
                [(ngModel)]="completion_Time"
                [ngClass]="{'is-invalid': f.submitted && completionTime.invalid}"
                required
                max="60"
                min="1" oninput="validity.valid||(value='');">
            </mat-form-field>
            <div *ngIf="f.submitted && completionTime.invalid" class="invalid-feedback inputTime">
                <div *ngIf="completionTime.errors.required">
                    *This field is mandatory.*
                </div>
            </div>
            
            <mat-form-field class="selectTime">
                <mat-label>Time In</mat-label>
                <mat-select 
                name="timeType"
                #timeType="ngModel" 
                [(ngModel)]="time_Type"
                [ngClass]="{'is-invalid': f.submitted && timeType.invalid}"
                required>
                    <mat-option value="minutes">Minutes</mat-option>
                    <mat-option value="hours">Hours</mat-option>
                    <!-- <mat-option value="days">Days</mat-option> -->
                </mat-select>
            </mat-form-field>
            <div *ngIf="f.submitted && timeType.invalid" class="invalid-feedback selectTime">
                <div *ngIf="timeType.errors.required">
                    *This field is mandatory.*
                </div>
            </div>
            <br>

            <mat-form-field class="form-field">
                <textarea 
                matInput 
                name="taskNote"
                #taskNote="ngModel"
                placeholder="Task Note"
                [(ngModel)]="selected_task.taskNote"
                [ngClass]="{'is-invalid': f.submitted && taskNote.invalid}"
                required></textarea>
            </mat-form-field>
            <div *ngIf="f.submitted && taskNote.invalid" class="invalid-feedback">
                <div *ngIf="taskNote.errors.required">
                    *This field is mandatory.*
                </div>
            </div>
            <br>
            <br>
            <div class="example-button-row col text-center">
                <button 
                type="submit" 
                mat-raised-button color="primary" 
                style="margin-right: 25px;"
                matTooltip="Update Task"
                matTooltipClass="tooltip-color">Update <i class="fa fa-check-square-o" style="font-size: 19px; margin-left: 5px;"></i></button>
                <button 
                type="button" 
                (click)="openDeleteConfirmDialog()" 
                mat-raised-button 
                color="primary" 
                style="margin-left: 25px;"
                matTooltip="Delete Task"
                matTooltipClass="tooltip-color">Delete <span class="glyphicon glyphicon-trash" style="margin-left: 5px;"></span></button>
            </div>
        </fieldset>
    </form>
</div>