.container {
    width: 500px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

form {
    margin-bottom: 0;
}

fieldset {
    text-align: center;
}

.invalid-feedback {
    color: red;
}

.tooltip-color {
    font-size: 12px;
    background: rgba(34, 34, 43, .8);
}